.projects-wrapper{
    display: block;
}
.projects-container{
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 569px) {
    .projects-container{
        padding: 50px 20px;
    }
}