header {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.header-text > h2 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

.dark-bg {
    background-color: #232323;
    padding: 2px 10px;
    color: white;
}

.header-image > img {
    width: 600px;
}

.dots1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.dots2{
    position: absolute;
    bottom: 20%;
    right: 193px;
    transform: translateY(-50%);
    display: flex;
    rotate: 90deg;
    z-index: -1;
}
.gradient-background1 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(160deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    background: -webkit-linear-gradient(160deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    background: linear-gradient(160deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.gradient-background2 {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(174deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    background: -webkit-linear-gradient(174deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    background: linear-gradient(174deg, rgba(255,255,255,0.6488970588235294) 0%, rgba(255,255,255,0.9962359943977591) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.header-image{
    z-index: 1;
}
.mobile-title{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: 600;
    z-index: 1;
    display: none;
}
@media screen and (max-width: 1150px) {
    .header-image > img{
        width: 500px;
    }
}
@media screen and (max-width: 985px) {
    .header-image > img{
        width: 400px;
    }
    .dots1, .dots1 > img{
        width: 500px;
    }
    .dots2, .dots2 > img{
        width: 500px;
    }
    .dots2{
        position: absolute;
        bottom: 5%;
        right: 125px;
        transform: translateY(-50%) rotateY(180deg);
        display: flex;
        rotate: 90deg;
        z-index: -1;
    }
}
@media screen and (max-width: 884px) {
    .header-text > h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 820px) {
    .header-text > h2 {
        font-size: 35px;
    }
}
@media screen and (max-width: 754px) {
    header{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
        min-height: 100vh;
    }
    .dots1, .dots1 > img{
        max-width: 400px;
        width: 100%;
    }
    .mobile-title{
        display: block;
    }
    .header-image, .header-image > img{
        width: 100%;
    }
}